.vds-time-slider .vds-slider-track-fill {
	background: linear-gradient(to right, #89E90A, 12%, #25E00A, 80%, #FFE562);
}

.vds-live-button[data-edge] .vds-live-button-text {
    background-color: #25E00A !important;
    color: #ffffff !important;
}

:where(.vds-menu-items) {
	--checkbox-active-bg: var(--color-primary) !important;
}

@media (prefers-color-scheme: dark) {
	.vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #E4FFBF, 12%, #ADFFA2, 80%, #FFE562) !important;
	}
}
