.vds-time-slider .vds-slider-track-fill {
	background: linear-gradient(to right, #FFA635, 12%, #FB8F06, 80%, #FFE562);
}

.vds-live-button[data-edge] .vds-live-button-text {
    background-color: #fa408b !important;
    color: #ffffff !important;
}

:where(.vds-menu-items) {
	--checkbox-active-bg: var(--color-primary) !important;
}

@media (prefers-color-scheme: dark) {
	.vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #FFF1DF, 12%, #FED8A8, 80%, #FFE562) !important;
	}
}
