.vds-time-slider .vds-slider-track-fill {
	background: linear-gradient(to right, #21D0F8, 12%, #00C4F0, 80%, #FFE562);
}

.vds-live-button[data-edge] .vds-live-button-text {
    background-color: #fa408b !important;
    color: #ffffff !important;
}

:where(.vds-menu-items) {
	--checkbox-active-bg: var(--color-primary) !important;
}

@media (prefers-color-scheme: dark) {
	.vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #AEF6F8, 12%, #73E5FF, 80%, #FFE562) !important;
	}
}
