.vds-time-slider .vds-slider-track-fill {
	background: linear-gradient(to right, #9864D4, 12%, #882CE7, 80%, #FFE562);
}

.vds-live-button[data-edge] .vds-live-button-text {
    background-color: #882CE7 !important;
    color: #ffffff !important;
}

:where(.vds-menu-items) {
	--checkbox-active-bg: var(--color-primary) !important;
}

@media (prefers-color-scheme: dark) {
	.vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #D7B7FC, 12%, #B876FD, 80%, #FFE562) !important;
	}
}
