:root {
	--color-primary: #ffffff !important;
	--color-link: #ffffff !important;
    --color-hover: rgba(255, 255, 255, 0.15) !important;
	--color-bg: #1296FD !important;
	--color-text: #fff !important;
	--border-radius: 0 !important;
		
	--webpage-font: Inter, "MiSans Normal", sans-serif;
	--webpage-font-variable: InterVariable, "MiSans Normal", sans-serif;
	font-family: var(--webpage-font);
	font-feature-settings: 'liga', 'calt', 'ss01', 'ss03', 'cv05', 'cv06', 'cv11', 'cv13';
}

@supports (font-variation-settings: normal) {
    :root { 
		font-family: var(--webpage-font-variable);
		/* font-feature-settings: 'liga' 1, 'calt' 1, 'ss01' 1, 'cv05' 1, 'cv06' 1; */
	}

	/* :where(.vds-audio-layout) {
		--audio-slider-track-bg: rgba(255, 255, 255, 0.3) !important;
	} */
	
}

/* body {
	font-family: "MiSans Normal";
	font-weight: normal;
} */

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #ffffff !important;
		--color-link: #ffffff !important;
		--color-hover: rgba(255, 255, 255, 0.15) !important;
		--color-bg: #1296FD !important;
		--color-text: #fff !important;
		--border-radius: 0 !important;
	}
}		

	/* .vdslive {
		background-image: url(./img/atvds-white.png);
	} */

	/* .vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #FFE3F0, 12%, #FFC7E2, 80%, #FFE562) !important;
	} */

img {
	border-radius: 0 !important;
	box-shadow: none !important;
}

.carrottv-logo {
	color: var(--color-text) !important;
}

.vds-time-slider .vds-slider-progress {
	background: linear-gradient(to right, rgb(255 229 98 / .15), 92%, rgb(255 229 98 / .63))  !important;
}

[data-media-player][data-layout=video]:not([data-fullscreen]) {
    border: none !important;
}

:where(.vds-video-layout), :where(.vds-audio-layout) {
	--media-font-family: var(--webpage-font) !important;
}

button {
	font-family: var(--webpage-font) !important;
}

a, button, nav, h1, h2, h3, h4, h5, h6, .vds-chapter-title {
	font-feature-settings: 'liga', 'calt', 'ss01', 'ss03', 'cv05', 'cv06', 'cv11', 'cv13', 'zero';
}

nav a[target="_blank"]::after, footer a[target="_blank"]::after {
    content: " ↗";
}

footer a {
	text-decoration: underline;
}

footer nav a {
	text-decoration: none !important;
}

footer nav a[target="_blank"]::after{
	content: none !important;
}

main a {
	text-decoration: underline;
}

header#notice {
    background-color: var(--color-primary);
	color: var(--color-bg);
	padding: 3px;
}

header#notice a {
	color: var(--color-bg);
	text-decoration: underline;
}

article {
	border-radius: 0 !important;
	overflow: hidden;
	border: 6px solid #89E90A;
	background-color: #fff;
	color: #000;
	box-shadow: 9px 9px #026FC5;
}

article#warning {
	border: 6px solid #FED606;
}

article#forbid {
	border: 6px solid #fb7576;
}

article a {
	color: #fa408b;
	text-decoration: none;
}