# local testing only
vod-demo.html
vod-demo2.html
vod-demo3.html
vod-demo4.html
demo-live-vds1.html
live-vds1.html
vod-demo5.html

# VDS LS logo (not for now)
img/atvds.png
img/atvds-white.png

# secret 2024 rebranding
working-2024.html

# 2030.html
# sp-override/2030.css
# img/logo-2030.svg
vod-demo-multiquality.html
vod-demo*

# secret content
test-2025-spring-festival.html
# sp-override/spring-festival.css
made-by-carrottv.html
/.idea
