:root {
	--color-primary: #fa408b !important;
	--color-link: #fa408b !important;
    --color-hover: rgba(250, 64, 139, 0.15) !important;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #fa71b4 !important;
		--color-link: #fa71b4 !important;
		--color-hover: rgba(250, 113, 180, 0.15) !important;
	}
}

.vjs-theme-forest {
	--vjs-theme-forest--primary: #fa71b4 !important;
	--vjs-theme-forest--secondary: #fff;
  }

.vjs-theme-forest .vjs-control:not(.vjs-disabled, .vjs-time-control):hover {
  text-shadow: none;
}

.vjs-theme-forest:hover .vjs-big-play-button,
.vjs-theme-forest.vjs-big-play-button:focus {
  background: svg-load('icons/play-btn.svg', fill=#fa71b4) !important;
}