:root {
	--color-primary: #fa408b !important;
	--color-link: #fa408b !important;
    --color-hover: rgba(250, 64, 139, 0.15) !important;

	--webpage-font: Inter, "MiSans Normal", sans-serif;
	--webpage-font-variable: InterVariable, "MiSans Normal", sans-serif;
	font-family: var(--webpage-font);
	font-feature-settings: 'liga', 'calt', 'ss01', 'cv05', 'cv06', 'cv11', 'cv13';
}

@supports (font-variation-settings: normal) {
    :root { 
		font-family: var(--webpage-font-variable);
		/* font-feature-settings: 'liga' 1, 'calt' 1, 'ss01' 1, 'cv05' 1, 'cv06' 1; */
	}
}

/* body {
	font-family: "MiSans Normal";
	font-weight: normal;
} */

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #fa71b4 !important;
		--color-link: #fa71b4 !important;
		--color-hover: rgba(250, 113, 180, 0.15) !important;
	}

	/* .vdslive {
		background-image: url(./img/atvds-white.png);
	} */

	/* .vds-time-slider .vds-slider-track-fill {
		background: linear-gradient(to right, #FFE3F0, 12%, #FFC7E2, 80%, #FFE562) !important;
	} */
}
/* 
.vjs-theme-forest {
	--vjs-theme-forest--primary: #fa71b4 !important;
	--vjs-theme-forest--secondary: #fff;
  }

.vjs-theme-forest .vjs-control:not(.vjs-disabled, .vjs-time-control):hover {
  text-shadow: none;
}

.vjs-theme-forest:hover .vjs-big-play-button,
.vjs-theme-forest.vjs-big-play-button:focus {
  background: svg-load('icons/play-btn.svg', fill=#fa71b4) !important;
} */

/* 
.vds-slider .vds-slider-track-fill {
    background-color: #ffd1e7;
} */

.carrottv-logo {
	color: var(--color-text) !important;
}

.vds-time-slider .vds-slider-progress {
	background: linear-gradient(to right, rgb(255 229 98 / .15), 92%, rgb(255 229 98 / .63))  !important;
}

[data-media-player][data-layout=video]:not([data-fullscreen]) {
    border: none !important;
}

/* [data-media-player][data-layout=video] {
    background-color: var(--color-bg) !important;
} */

/* footer {
	margin: 50px auto;
	max-width: 960px;
} */

:where(.vds-video-layout) {
	--media-font-family: var(--webpage-font) !important;
}

button {
	font-family: var(--webpage-font) !important;
}

a, button, nav, h1, h2, h3, h4, h5, h6 {
	font-feature-settings: 'liga', 'calt', 'ss01', 'cv05', 'cv06', 'cv11', 'cv13', 'zero';
}

nav a[target="_blank"]::after, footer a[target="_blank"]::after {
    content: " ↗";
}
